*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar{
    background: rgba(0, 59, 83, 0.397);
    width: 10px;                    
    /* display: none; */
}
body{
    background-color: #c2c2c2;
    width: 100%;
    min-height: 150vh;

}
.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 150vh;
    flex-direction: column;
}
h1{
    font-family: 'Cosi Azure';
    font-weight: 700;
    font-size: 40px;
    color: #0f0f0f;
}
.bg{
    background: url(bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    width: 30vw;
    height: 90vh;
    transition: 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.bg:hover{
    transition: 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: scale(1.1);
}
@media(max-width:1050px){
    h1{
        font-size: 25px;
        font-weight: 300;
    }
}